services:
  - type: worker
    name: telegram-bot
    env: python
    plan: free
    buildCommand: "pip install -r requirements.txt"
    startCommand: "python chatbot.py"
    envVars:
      - key: TOKEN
        sync: false
      - key: BOT_NAME
        sync: false
